<div class="home-content">
  <div class="div">
  <h1 class="text-center">Analytics</h1>
  </div>
      <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Order</div>
          <div class="number"><%= orders.length %></div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Until Now</span>
          </div>
        </div>
        <i class='bx bx-cart-alt cart'></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Sales</div>
          <div class="number"><%= orders.length %></div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Until Now</span>
          </div>
        </div>
        <i class='bx bxs-cart-add cart two' ></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Profit</div>
          <div class="number">₹<%= totalSales %></div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Until Now</span>
          </div>
        </div>
        <i class='bx bx-cart cart three' ></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Return</div>
          <div class="number">4</div>
          <div class="indicator">
            <i class='bx bx-down-arrow-alt down'></i>
            <span class="text">Until Now</span>
          </div>
        </div>
        <i class='bx bxs-cart-download cart four' ></i>
      </div>
    </div>

    <div class="sales-boxes">
      <div class="recent-sales box" id="topSales">
        <div class="title">Recent Sales</div>
        <div class="sales-details">
          <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Customer</th>
                <th scope="col">Sales</th>
                <th scope="col">Total</th>
                <th scope="col">Detail</th>
              </tr>
            </thead>
            <% orders.forEach(order=> { %>
            <tbody>
              <tr>
                <td>
                  <%= order.orderDate %>
                </td>
                <td>
                  <%= order.address.userName %>
                </td>
                <td>
                  <%= order.orderStatus %>
                </td>                
                <td>
                  ₹<%= order.total %>
                </td>
                <td>
                  <a href="" class="btn-secondary border rounded-5 p-2 text-decoration-none"><strong>=></strong></a>
                </td>
              </tr>
            </tbody>
            <% }); %>
          </table>
        </div>
      </div>
      <div class="top-sales box" id="topSales">
        <div class="title">Top Seling Products</div>
        <ul class="top-sales-details">
          <% products.forEach(product=> { %>
          <li>
          <a href="#">
            <img src="/productImage/<%= product.productImageNames[0] %>" alt="">
            <span class="product"><%= product.productName %></span>
          </a>
          <span class="price">₹<%= product.productPrice %></span>
        </li>
        <% }); %>
        </ul> 
      </div>
    </div>
  </div>
</section>
