<!-- <div class="container">
    <div class="row">
        <div class="col">
            <form action="/adminHome/editProduct" method="POST" enctype="multipart/form-data">
                <table class="table table-dark table-striped" id="admin-table">
                    <tbody>
                        <% products.forEach(product=> { %>
                        <tr>
                            <td>
                                <input type="name" name="productName" id="<%= product.productName %>" value="<%= product.productName %>" placeholder="Product Name"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                            <td>
                                <input type="name" name="productCategory" id="<%= product.productCategory %>" value="<%= product.productCategory %>" placeholder="Category"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                            <td>
                                <input type="name" name="productBrand" id="<%= product.productBrand %>" value="<%= product.productBrand %>" placeholder="Brand"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="name" name="productQuality" id="<%= product.productQuality %>" value="<%= product.productQuality %>" placeholder="Quality"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                            <td>
                                <input type="name" name="productPrice" id="<%= product.productPrice %>" value="<%= product.productPrice %>" placeholder="Price"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                            <td>
                                <input type="name" name="productStock" id="<%= product.productStock %>" value="<%= product.productStock %>" placeholder="Stock"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="name" name="productDescription" id="<%= product.productDescription %>" value="<%= product.productDescription %>" placeholder="Description"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </td>
                            <td>
                                    <input type="file" name="images" accept="image/*" multiple>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>


                <div class="text-center">
                    <button btn class="btn btn-outline-primary fw-bold text-dark w-25 p-2 rounded-3" type="submit">Update
                        Product</button>
                </div>
            </form>
            <div class="text-center">
                <button btn class="btn btn-outline-primary fw-bold text-dark w-25 p-2 rounded-3"
                    id="btnCancel">Cancel</button>
            </div>


        </div>
    </div>
</div> -->