<div class="container">
    <div class="row">
        <div>
            <div class="col-md" id="admin-table">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Offer Name</th>
                            <th scope="col">Product</th>
                            <th scope="col">Value</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Apply/Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="/admin/applyOffer" method="POST">
                        <tr class="text-center">
                            <td><input class="w-75 mt-1 text-center" type="text" name="offerName" placeholder="Product" required></td>
                            <td>
                                <select class="custom-select text-center" name="productId">
                                    <% products.forEach(product => { %>
                                      <option value="<%= product._id %>" <%= 'selectedProduct' === product.productName ? "selected" : "" %>><%= product.productName %></option>
                                      <% }) %>
                                </select>
                            </td>
                            <td><input class="w-50 mt-1 text-center" type="text" name="offerValue" required></td>
                            <td><input class="w-75 mt-1" type="date" name="offerStart" required></td>
                            <td><input class="w-75 mt-1" type="date" name="offerEnd" required></td>
                            <td><button class="border-0 bg-white">
                                <img class="btn-icon mt-1" id="offerButtons" src="/images/offer.png" alt="">
                            </button></td>
                        </tr>
                        </form>
                        <form action="/admin/applyOffer" method="POST">
                        <tr class="text-center">
                            <td><input class="w-75 mt-1 text-center" type="text" name="offerName" placeholder="Category" required></td>
                            <td>
                                <select class="custom-select text-center" name="categoryId">
                                    <% categories.forEach(category => { %>
                                      <option value="<%= category._id %>" <%= 'selectedProduct' === category.productCategory ? "selected" : "" %>><%= category.productCategory %></option>
                                    <% }) %>
                                </select>
                            </td>
                            <td><input class="w-50 mt-1 text-center" type="text" name="offerValue" required></td>
                            <td><input class="w-75 mt-1" type="date" name="offerStart" required></td>
                            <td><input class="w-75 mt-1" type="date" name="offerEnd" required></td>
                            <td><button class="border-0 bg-white">
                                <img class="btn-icon mt-1" id="offerButtons" src="/images/offer.png" alt="">
                            </button></td>
                        </tr> 
                        </form>
                        <% offerProducts.forEach(product => { %>
                            <tr class="text-center">
                                <td><%= product.offerName %></td>
                                <td><%= product.productName %></td>
                                <td><%= product.offerValue %></td>
                                <td><%= product.offerStart %></td>
                                <td><%= product.offerEnd %></td>
                                <td><%= product.offerStatus %></td>
                            </tr>
                        <% }) %>  
                        <% offerCategories.forEach(category => { %>
                            <tr class="text-center">
                                <td><%= category.offerName %></td>
                                <td><%= category.productCategory %></td>
                                <td><%= category.offerValue %></td>
                                <td><%= category.offerStart %></td>
                                <td><%= category.offerEnd %></td>
                                <td><%= category.offerStatus %></td>
                            </tr>
                        <% }) %>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>