<div class="container">
  <div class="row">
    <div class="col-md">
      <table class="table text-center" id="admin-table">
        <thead>
          <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Items</th>
            <th scope="col">Amount</th>
            <th scope="col">Method</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% orders.forEach(order=> { %>  
            <tr>
              <td class="align-middle">
                <h5><%= order._id %>
                  <button type="button" class="btn mb-2" data-bs-toggle="modal" data-bs-target="#orderModal_<%= order._id %>" data-bs-target="#staticBackdrop">
                    <img src="/images/details.png" style="width: 3vh;" alt="">
                  </button>
                </h5>
                <!-- Button trigger modal -->

<!-- Modal -->
<% orders.forEach(order => { %> 
<div class="modal fade" id="orderModal_<%= order._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="orderModalLabel_<%= order._id %>" aria-hidden="true">
  <div class="modal-dialog custom-modal modal-dialog-scrollable">
    <div class="modal-content custom-modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Order Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid pt-5">
          <div class="row px-xl-5">
              <div class="col-md pb-4">
                  <div class="position-relative bg-secondary text-white mb-2 py-5 px-5">
                      <h5>Order Information</h5>
                      <p class="text-uppercase text-primary mb-3">Order ID : <%= order._id %>
                      </p>
                      <p class="text-dark">Date : <%= order.orderDate %>
                      </p>
                      <p class="text-dark">Payment Method : <%= order.paymentMethod %>
                      </p>
                      <p class="text-dark">Status : <%= order.orderStatus %>
                      </p>
                  </div>
              </div>
              <div class="col-md pb-4">
                  <div class="position-relative bg-secondary text-white mb-2 py-5 px-5">
                      <h5>Shipping Details</h5>
                      <p class="text-uppercase text-primary mb-3">Name : <%= order.userId.fullname %></p>
                  <p class=" text-dark">Address : <%= order.billingAddress.userAddressLine1
                                  +", "+ order.billingAddress.userAddressLine2 +" , "+ order.billingAddress.userState +" , "+
                       order.billingAddress.userCountry +" , "+ order.billingAddress.userZIP %></p>
                  <p class=" text-dark">Mobile : <%= order.userId.mobile %>
                      </p>
                  <p class=" text-dark">Email : <%= order.userId.email %>
                  </p>
                  </div>
              </div>
          </div>
          <div class="row px-xl-5">
              <div class="col-md pb-4">
                  <div class="position-relative bg-secondary text-center text-white mb-2 py-5 px-5">
                      <h5>Order Items</h5>
                      <table class="table text-center">
                          <thead>
                              <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Product</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Quantity</th>
                                  <th scope="col">Total</th>
                              </tr>
                          </thead>
                          <tbody>
                              <% let i=1 ; %>
                                  <% order.products.forEach(product=> { %>
                                      <tr>
                                          <td>
                                              <%= i %>
                                          </td>
                                          <td>
                                              <%= product.productId.productName %>
                                          </td>
                                          <td>
                                              <%= product.offerPrice %>
                                          </td>
                                          <td>
                                              <%= product.productQuantity %>
                                          </td>
                                          <% let total = product.offerPrice * product.productQuantity ; %>
                                              <td>
                                                  <%= total %>
                                              </td>
                                      </tr>
                                      <% i++; }); %>
                                      <tr class="font-weight-bold">
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><h5>Total</h5></td>
                                          <td>
                                              ₹<%= order.total %>/-
                                          </td>
                                      </tr>
                          </tbody>
                      </table>
                      <div class="col-md">
                          <a href="/user/downloadInvoice/<%= order._id %>"
                              class="btn btn-outline-primary py-md-2 px-md-3">
                              Download Invoice<img width="20vh" src="/images/pdfdownload.png" alt=""></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>      
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% }); %>
              <p><%= order.orderDate %></p>
              </td>
              <td class="align-middle">
                <%= order.products.length %>
              </td>
              <td class="align-middle">
                <%= order.total %>
              </td>
              <td class="align-middle">
                <%= order.paymentMethod %>
              </td>
              <td class="align-middle">
                <div>
                    <div>
                      <select class="custom-select text-center" id="orderStatus_<%= order._id %>" onchange="updateOrderStatus('<%= order._id %>')">
                        <option value="Order Initiated" <%= order.orderStatus === "Order Initiated" ? "selected" : "" %>>Order Initiated</option>
                        <option value="Order Confirmed" <%= order.orderStatus === "Order Confirmed" ? "selected" : "" %>>Order Confirmed</option>
                        <option value="Items Shipped" <%= order.orderStatus === "Items Shipped" ? "selected" : "" %>>Items Shipped</option>
                        <option value="Order Delivered" <%= order.orderStatus === "Order Delivered" ? "selected" : "" %>>Order Delivered</option>
                        <option value="Return Initiated" <%= order.orderStatus === "Return Initiated" ? "selected" : "" %>>Return Initiated</option>
                        <option value="Return Verified & Refund Initiated" <%= order.orderStatus === "Return Verified & Refund Initiated" ? "selected" : "" %>>Return Verified & Refund Initiated</option>
                        <option value="Items Returned & Refunded" <%= order.orderStatus === "Items Returned & Refunded" ? "selected" : "" %>>Items Returned & Refunded</option>
                        <option value="Order Closed" <%= order.orderStatus === "Order Closed" ? "selected" : "" %>>Order Closed</option>
                        <option value="Order Cancelled" <%= order.orderStatus === "Order Cancelled" ? "selected" : "" %>>Order Cancelled</option>
                      </select>
                    </div>
              </div>
            </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  async function updateOrderStatus(id) {
    const orderStatusUpdate = document.getElementById(`orderStatus_${id}`);

    if (confirm(`Are you sure you want to make changes in order status of the user?`)) {
      const userData = {
        orderId: id,
        orderStatus: orderStatusUpdate.value,
      };
  
      try {
        const response = await fetch(`/admin/updateOrderStatus`, {
          method: 'PATCH',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(userData),
        });

        if (response.ok) {
          console.log('Order status updated successfully');
        } else {
          console.error('Failed to update order status');
          alert('Failed to update order status. Please try again.');
        }
      } catch (error) {
        console.error('Error updating order:', error);
        alert('An error occurred while updating the order status.');
      }
    }
  }
</script>
