<%-include('partials/header.ejs')%>
    <%-include('partials/topbarUser.ejs')%>

        <!-- Page Header Start -->
        <div class="container-fluid bg-secondary mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
                <h1 class="font-weight-semi-bold text-uppercase mb-3">Account Details</h1>
                <div class="d-inline-flex">
                    <p class="m-0"><a href="/user">Home</a></p>
                    <p class="m-0 px-2">-</p>
                    <p class="m-0">
                        <%= users.fullname %>
                    </p>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <div class="container-fluid">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-1">User Detail</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Update Detail</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-5">Add Addresses</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Account Settings</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-4">Delete Account</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade" id="tab-pane-3">
                    <h4 class="font-weight-semi-bold mb-4 text-center">ACCOUNT SETTINGS</h4>
                    <h5 class="font-weight-semi-bold mb-4 text-center">Change Password</h5>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <form action="/user/changePassword" method="POST">
                                <div class="mb-3">
                                    <label>Enter current password</label>
                                    <input type="password" id="password" name="currentPassword" class="form-control"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label>Enter new password</label>
                                    <input type="password" id="password" name="newPassword" class="form-control"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label>Confirm new password</label>
                                    <input type="password" id="password" name="newPassword2" class="form-control"
                                        required>
                                </div>
                                <div class="form-group mb-0 text-center">
                                    <button type="submit" class="btn btn-primary px-3">Save new password</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-pane-4">
                    <h4 class="font-weight-semi-bold mb-4 text-center">DELETE ACCOUNT</h4>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <form action="/user/deleteAccount" method="POST">
                                <div class="mb-3">
                                    <label>Enter your primary email</label>
                                    <input class="form-control" name="userEmail" type="text" required>
                                </div>
                                <div class="mb-3">
                                    <label>Enter your current password</label>
                                    <input type="password" name="currentPassword" class="form-control" required>
                                </div>
                                <div class="form-group mb-0 text-center">
                                    <button type="submit" class="btn btn-primary px-3">Delete Account</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="container-fluid tab-pane fade" id="tab-pane-2">
                    <div class="row">
                        <div class="col-md-12">
                                <h4 class="font-weight-semi-bold mb-4 text-center">UPDATE DETAIL</h4>
                                <h5 class="font-weight-semi-bold mb-4 text-center">Login Data</h5>
                                <form action="/user/updateLoginData" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>Profile Image</label>
                                        <img src="/profileImage/<%= users.profileImageName %>" width="100" alt="" class="border">
                                        <input type="file" name="image" accept="image/jpeg, image/png, image/gif">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>E-mail</label>
                                        <input class="form-control" name="userEmail" type="email" id="email"
                                            value="<%= users.email %>" disabled>
                                    </div>
                                    <div class="col-md-6 form-group">email
                                        <label>Name</label>
                                        <input class="form-control" name="userName" type="text"
                                        value="<%= users.fullname %>" id="name">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Mobile No</label>
                                        <input class="form-control" name="userMobileNo" type="tel" pattern="[0-9]{10}"
                                            title="Enter a valid mobile number" value="<%= users.mobile %>" id="mobile">
                                    </div>
                                    <div class="form-group mb-0 text-center">
                                        <button type="submit" class="btn btn-primary px-3">Update</button>
                                    </div>
                                </div>
                                </form>
                                <br>
                                <br>
                                <form action="/user/updateBillingAddress" method="POST" >
                                <h5 class="font-weight-semi-bold mb-4 text-center">Current Billing Address</h5>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                         <label>Alternate Mobile No</label>
                                        <input class="form-control" name="alternateMobileNo" type="text" pattern="[0-9]{10}"
                                            title="Enter valid mobile number" value="<%= billingAddress.alternateMobileNo %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Address Line 1</label>
                                        <input class="form-control" name="userAddressLine1" type="text"
                                            value="<%= billingAddress.userAddressLine1 %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Address Line 2</label>
                                        <input class="form-control" name="userAddressLine2" type="text"
                                            value="<%= billingAddress.userAddressLine2 %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Country</label>
                                        <select class="custom-select" name="userCountry">
                                            <option selected>India</option>
                                            <option>United States</option>
                                            <option>China</option>
                                            <option>Sreelanka</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>City</label>
                                        <input class="form-control" name="userCity" type="text"
                                            value="<%= billingAddress.userCity %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>State</label>
                                        <input class="form-control" name="userState" type="text"
                                            value="<%= billingAddress.userState %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>ZIP Code</label>
                                        <input class="form-control" name="userZIP" type="text" pattern="[0-9]{6}"
                                        title="Enter valid PIN code"  value="<%= billingAddress.userZIP %>">
                                    </div>
                                </div>
                                <div class="form-group mb-0 text-center">
                                    <button type="submit" class="btn btn-primary px-3">Update</button>
                                </div>
                                </form>
                            </div>
                        <br>
                        <br>
                        <div class="col-md-12" id="shipping-address">
                            <br>
                            <br>
                            <form action="/user/updateShippingAddress" method="POST" >
                            <h5 class="font-weight-semi-bold mb-4 text-center">Current Shipping Address</h5>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Name</label>
                                    <input class="form-control" name="userName2" type="text"
                                        value="<%= shippingAddress.altName %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" name="userEmail2" type="text"
                                        value="<%= shippingAddress.altEmail %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Mobile No</label>
                                    <input class="form-control" name="alternateMobileNo2" type="text" pattern="[0-9]{10}"
                                    title="Enter a valid mobile number" value="<%= shippingAddress.altMobileNo %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Address Line 1</label>
                                    <input class="form-control" name="userAddressLine12" type="text"
                                        value="<%= shippingAddress.altAddressLine1 %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Address Line 2</label>
                                    <input class="form-control" name="userAddressLine22" type="text"
                                        value="<%= shippingAddress.altAddressLine2 %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Country</label>
                                    <select class="custom-select" name="userCountry2">
                                        <option selected>India</option>
                                        <option>United States</option>
                                        <option>China</option>
                                        <option>Sreelanka</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>City</label>
                                    <input class="form-control" name="userCity2" type="text"
                                        value="<%= shippingAddress.altCity %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>State</label>
                                    <input class="form-control" name="userState2" type="text"
                                        value="<%= shippingAddress.altState %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>ZIP Code</label>
                                    <input class="form-control" name="userZIP2" type="text" pattern="[0-9]{6}"
                                    title="Enter valid PIN code" value="<%= shippingAddress.altZIP %>">
                                </div>  
                            </div>
                            <div class="form-group mb-0 text-center">
                                <button type="submit" class="btn btn-primary px-3">Update</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid tab-pane fade" id="tab-pane-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="font-weight-semi-bold mb-4 text-center">USER DETAIL</h4>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Profile Image</label>
                                    <img src="/profileImage/<%= users.profileImageName %>" width="100" alt="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>E-mail</label>
                                    <h5>
                                        <%= users.email %>
                                    </h5>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Name</label>
                                    <h5>
                                        <%= users.fullname %>
                                    </h5>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Mobile No</label>
                                    <h5>
                                        <%= users.mobile %>
                                    </h5>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <h5 class="font-weight-semi-bold mb-4">Primary Billing Address</h5>
                                    <label>Alternate Mobile No</label>
                                    <h5>
                                        <%= billingAddress.alternateMobileNo %>
                                    </h5>
                                    <label>Address</label>
                                    <h5>
                                        <%= billingAddress.userAddressLine1 %> <br>
                                        <%= billingAddress.userAddressLine2 %> <br>
                                        <%= billingAddress.userCity %> <br>
                                        <%= billingAddress.userState %> <br>
                                        <%= billingAddress.userCountry %> <br>
                                        <%= billingAddress.userZIP %>
                                    </h5>
                                </div>
                                <div class="col-md-6 form-group">
                                    <h5 class="font-weight-semi-bold mb-4">Primary Shipping Address</h5>
                                    <label>Alternate Mobile No</label>
                                    <h5>
                                        <%= shippingAddress.altMobileNo %>
                                    </h5>
                                    <label>Address</label>
                                    <h5>
                                        <%= shippingAddress.altAddressLine1 %> <br>
                                        <%= shippingAddress.altAddressLine2 %> <br>
                                        <%= shippingAddress.altCity %> <br>
                                        <%= shippingAddress.altState %> <br>
                                        <%= shippingAddress.altCountry %> <br>
                                        <%= shippingAddress.altZIP %>
                                    </h5>
                                </div>
                            </div>
                            <br>
                        </form>
                        </div> 
                    </div>
                </div>
                <div class="container-fluid tab-pane fade" id="tab-pane-5">
                    <div class="row">
                        <div class="col-md-12">
                                <h4 class="font-weight-semi-bold mb-4 text-center">ADD ADDRESSES</h4>
                                <form action="/user/addBillingAddress" method="POST" >
                                <h5 class="font-weight-semi-bold mb-4 text-center">Billing Address</h5>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                         <label>Alternate Mobile No</label>
                                        <input class="form-control" name="alternateMobileNo" type="tel" pattern="[0-9]{10}"
                                        title="Enter a valid mobile number">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Address Line 1</label>
                                        <input class="form-control" name="userAddressLine1" type="text">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Address Line 2</label>
                                        <input class="form-control" name="userAddressLine2" type="text">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Country</label>
                                        <select class="custom-select" name="userCountry">
                                            <option selected>India</option>
                                            <option>United States</option>
                                            <option>China</option>
                                            <option>Sreelanka</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>City</label>
                                        <input class="form-control" name="userCity" type="text">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>State</label>
                                        <input class="form-control" name="userState" type="text">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>ZIP Code</label>
                                        <input class="form-control" name="userZIP" type="tel" pattern="[0-9]{6}"
                                        title="Enter valid PIN code">
                                    </div>
                                </div>
                                <div class="form-group mb-0 text-center">
                                    <button type="submit" class="btn btn-primary px-3">Add Address</button>
                                </div>
                                </form>
                            </div>
                        <br>
                        <br>
                        <div class="col-md-12" id="shipping-address">
                            <br>
                            <br>
                            <form action="/user/addShippingAddress" method="POST" >
                            <h5 class="font-weight-semi-bold mb-4 text-center">Shipping Address</h5>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Name</label>
                                    <input class="form-control" name="userName2" type="text">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" name="userEmail2" type="email" aria-describedby="emailHelp">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Mobile No</label>
                                    <input class="form-control" name="alternateMobileNo2" type="tel" pattern="[0-9]{10}"
                                    title="Enter a valid mobile number">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Address Line 1</label>
                                    <input class="form-control" name="userAddressLine12" type="text">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Address Line 2</label>
                                    <input class="form-control" name="userAddressLine22" type="text">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Country</label>
                                    <select class="custom-select" name="userCountry2">
                                        <option selected>India</option>
                                        <option>United States</option>
                                        <option>China</option>
                                        <option>Sreelanka</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>City</label>
                                    <input class="form-control" name="userCity2" type="text">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>State</label>
                                    <input class="form-control" name="userState2" type="text">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>ZIP Code</label>
                                    <input class="form-control" name="userZIP2" type="tel" pattern="[0-9]{6}"
                                    title="Enter valid PIN code">
                                </div>  
                            </div>
                            <div class="form-group mb-0 text-center">
                                <button type="submit" class="btn btn-primary px-3">Add Address</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <%-include('partials/bottombarUser.ejs')%>
            <%-include('partials/footer.ejs')%>