<%-include('partials/header.ejs')%>
    <%-include('partials/topbarUser.ejs')%>

        <!-- Page Header Start -->
        <div class="container-fluid bg-secondary mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
                <h1 class="font-weight-semi-bold text-uppercase mb-3">Account Details</h1>
                <div class="d-inline-flex">
                    <p class="m-0"><a href="/user">Home</a></p>
                    <p class="m-0 px-2">-</p>
                    <p class="m-0">
                        <%= users.fullname %>
                    </p>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <div class="container-fluid">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-1">User Detail</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Account Settings</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Delete Account</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade" id="tab-pane-2">
                    <h4 class="font-weight-semi-bold mb-4 text-center">ACCOUNT SETTINGS</h4>
                    <h5 class="font-weight-semi-bold mb-4 text-center">Change Password</h5>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <form action="/user/changePassword" method="POST">
                              <div class="mb-3">
                                <label>Enter current password</label>
                                <input type="password" id="password" name="currentPassword" class="form-control" required>
                              </div>
                              <div class="mb-3">
                                <label>Enter new password</label>
                                <input type="password" id="password" name="newPassword" class="form-control" required>
                              </div>
                              <div class="mb-3">
                                <label>Confirm new password</label>
                                <input type="password" id="password" name="newPassword2" class="form-control" required>
                              </div>
                              <div class="form-group mb-0 text-center">
                                <button type="submit" class="btn btn-primary px-3">Save new password</button>
                            </div>
                            </form>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-pane-3">
                    <h4 class="font-weight-semi-bold mb-4 text-center">DELETE ACCOUNT</h4>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                        <form action="/user/deleteAccount" method="POST">
                            <div class="mb-3">
                                <label>Enter your primary email</label>
                                <input class="form-control" name="userEmail" type="text" required>
                            </div>
                            <div class="mb-3">
                                <label>Enter your current password</label>
                                <input type="password"name="currentPassword" class="form-control" required>
                            </div>
                            <div class="form-group mb-0 text-center">
                                <button type="submit" class="btn btn-primary px-3">Delete Account</button>
                            </div>
                        </form>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="container-fluid tab-pane fade" id="tab-pane-1">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/user/saveAddress" method="POST" enctype="multipart/form-data">
                                <h4 class="font-weight-semi-bold mb-4 text-center">USER DETAILS</h4>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <img src="/profileImage/<%= address.profileImageName %>" width="100" alt="">
                                        <input type="file" name="image" accept="image/jpeg, image/png, image/gif">
                                    </div>    
                                    <div class="col-md-6 form-group">
                                        <label>E-mail</label>
                                        <input class="form-control" name="userEmail" type="text"
                                            value="<%= address.userEmail %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Name</label>
                                        <input class="form-control" name="userName" type="text"
                                            value="<%= address.userName %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Mobile No</label>
                                        <input class="form-control" name="userMobileNo" type="text"
                                            value="<%= address.userMobileNo %>">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <h5 class="font-weight-semi-bold mb-4 text-center">Billing Address</h5>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>Alternate Mobile No</label>
                                        <input class="form-control" name="alternateMobileNo" type="text"
                                            value="<%= address.alternateMobileNo %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Address Line 1</label>
                                        <input class="form-control" name="userAddressLine1" type="text"
                                            value="<%= address.userAddressLine1 %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Address Line 2</label>
                                        <input class="form-control" name="userAddressLine2" type="text"
                                            value="<%= address.userAddressLine2 %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Country</label>
                                        <select class="custom-select" name="userCountry">
                                            <option selected>India</option>
                                            <option>United States</option>
                                            <option>China</option>
                                            <option>Sreelanka</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>City</label>
                                        <input class="form-control" name="userCity" type="text"
                                            value="<%= address.userCity %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>State</label>
                                        <input class="form-control" name="userState" type="text" value="<%= address.userState %>">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>ZIP Code</label>
                                        <input class="form-control" name="userZIP" type="text" value="<%= address.userZIP %>">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="shipto">
                                            <label class="custom-control-label" for="shipto" data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                                        </div>
                                    </div>   
                                </div>

                        </div>
                        <br>
                        <br>
                        <div class="col-md-12 collapse" id="shipping-address">
                            <h5 class="font-weight-semi-bold mb-4 text-center">Shipping Address</h5>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Name</label>
                                    <input class="form-control" name="userName2" type="text" value="<%= address.userName2 %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" name="userEmail2" type="text"
                                        value="<%= address.userEmail2 %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Mobile No</label>
                                    <input class="form-control" name="alternateMobileNo2" type="text"
                                        value="<%= address.alternateMobileNo2 %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Address Line 1</label>
                                    <input class="form-control" name="userAddressLine12" type="text"
                                        value="<%= address.userAddressLine12 %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Address Line 2</label>
                                    <input class="form-control" name="userAddressLine22" type="text"
                                        value="<%= address.userAddressLine22 %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Country</label>
                                    <select class="custom-select" name="userCountry2">
                                        <option selected>India</option>
                                        <option>United States</option>
                                        <option>China</option>
                                        <option>Sreelanka</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>City</label>
                                    <input class="form-control" name="userCity2" type="text" value="<%= address.userCity2 %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>State</label>
                                    <input class="form-control" name="userState2" type="text" value="<%= address.userState2 %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>ZIP Code</label>
                                    <input class="form-control" name="userZIP2" type="text" value="<%= address.userZIP2 %>">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-0 text-center">
                            <button type="submit" class="btn btn-primary px-3">Save</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

        <%-include('partials/bottombarUser.ejs')%>
            <%-include('partials/footer.ejs')%>