<%-include('partials/header.ejs')%>
<%-include('partials/sidebarList.ejs')%>

    
    <div id="addProduct" style="display: none;">
      <%- include('partials/addProduct.ejs') %>
    </div>
    
    <div id="addCategory" style="display: none;">
      <%- include('partials/addCategory.ejs') %>
    </div>

    <div id="productsTable" style="display: none;">
      <%- include('partials/productsTable.ejs', { products: products }) %>
    </div>

    <div id="ordersTable" style="display: none;">
      <%- include('partials/ordersTable.ejs', { orders: orders }) %>
    </div>

    <div id="usersTable" style="display: none;">
      <%- include('partials/usersTable.ejs') %>
    </div>

    <div id="categoriesTable" style="display: none;">
      <%- include('partials/categoriesTable.ejs', { categories: categories }) %>
    </div>

    <div id="offersTable" style="display: none;">
      <%- include('partials/offersTable.ejs') %>
    </div>

    <div id="analyticsTable">
      <%- include('partials/analyticsTable.ejs') %>
    </div>

    <%-include('partials/footer.ejs')%>

      <script>

        const analytics = document.getElementById('analytics');
        const products = document.getElementById('products');
        const orders = document.getElementById('orders');
        const users = document.getElementById('users');
        const categories = document.getElementById('categories');
        const offers = document.getElementById('offers');
        const analyticsTable = document.getElementById('analyticsTable');
        const productsTable = document.getElementById('productsTable');
        const ordersTable = document.getElementById('ordersTable');
        const usersTable = document.getElementById('usersTable');
        const categoriesTable = document.getElementById('categoriesTable');
        const offersTable = document.getElementById('offersTable');
        const btnAddCategory = document.getElementById('btnAddCategory');
        const addCategory = document.getElementById('addCategory');

    btnAddCategory.addEventListener('click', () => {
      analyticsTable.style.display = 'none';
      productsTable.style.display = 'none';
      ordersTable.style.display = 'none';
      usersTable.style.display = 'none';
      categoriesTable.style.display = 'none';
      offersTable.style.display = 'none';
      addCategory.style.display = 'block';
    });

        analytics.addEventListener('click', () => {
          analyticsTable.style.display = 'block';
          productsTable.style.display = 'none';
          ordersTable.style.display = 'none';
          usersTable.style.display = 'none';
          categoriesTable.style.display = 'none';
          offersTable.style.display = 'none';
          addCategory.style.display = 'none';
        });

        products.addEventListener('click', () => {
          analyticsTable.style.display = 'none';
          productsTable.style.display = 'block';
          ordersTable.style.display = 'none';
          usersTable.style.display = 'none';
          categoriesTable.style.display = 'none';
          offersTable.style.display = 'none';
          addCategory.style.display = 'none';
        });

        orders.addEventListener('click', () => {
          analyticsTable.style.display = 'none';
          productsTable.style.display = 'none';
          ordersTable.style.display = 'block';
          usersTable.style.display = 'none';
          categoriesTable.style.display = 'none';
          offersTable.style.display = 'none';
          addCategory.style.display = 'none';
        });

        users.addEventListener('click', () => {
          analyticsTable.style.display = 'none';
          productsTable.style.display = 'none';
          ordersTable.style.display = 'none';
          usersTable.style.display = 'block';
          categoriesTable.style.display = 'none';
          offersTable.style.display = 'none';
          addCategory.style.display = 'none';
        });

        categories.addEventListener('click', () => {
          analyticsTable.style.display = 'none';
          productsTable.style.display = 'none';
          ordersTable.style.display = 'none';
          usersTable.style.display = 'none';
          categoriesTable.style.display = 'block';
          offersTable.style.display = 'none';
          addCategory.style.display = 'none';
        });

        offers.addEventListener('click', () => {
          analyticsTable.style.display = 'none';
          productsTable.style.display = 'none';
          ordersTable.style.display = 'none';
          usersTable.style.display = 'none';
          categoriesTable.style.display = 'none';
          offersTable.style.display = 'block';
          addCategory.style.display = 'none';
        });

      </script>