
<%-include('partials/header.ejs')%>
<%-include('partials/topbarUser.ejs')%>


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/user?page=1">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price(₹)</th>
                            <th>Offer(₹)</th>
                            <th>Quantity</th>
                            <th>Total(₹)</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <% let offer, subTotal = 0; %>
                        <% cartItems.forEach(cartItem => { %>
                            <% if(cartItem.customerId.offerApplied === true){ %>
                            <% offer = 0; %>
                            <% } else if(cartItem.productId.offerStatus === "Active" && cartItem.productId.offerValue){ %>
                            <% offer = cartItem.productId.offerValue; %>
                            <% } else if(cartItem.categoryId.offerStatus === "Active" && cartItem.categoryId.offerValue) { %>
                            <% offer = cartItem.categoryId.offerValue; %>
                            <% } else { %>
                            <% offer = 0; %>
                            <% } %>
                            <% let offerPrice = cartItem.productId.productPrice - (( cartItem.productId.productPrice * offer ) / 100 );  %>
                            <tr>
                            <td class="align-middle"><img src="img/product-1.jpg" alt="" style="width: 50px;"><%= cartItem.productId.productName %></td>
                            <td class="align-middle" id="itemPrice"><%= cartItem.productId.productPrice %></td>
                            <td class="align-middle" id="itemPrice"><%= offerPrice %></td>
                            <td class="align-middle text-center">
                                <div class="d-flex justify-content-center">
                                    <form action="/user/changeQuantity/<%= cartItem.productId._id %>/<%= cartItem.productQuantity-1 %>" method="POST">
                                    <button class="btn">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    </form>                                    
                                    <input type="text" id="quantity" name="quantity" 
                                        class="form-control bg-secondary text-center" style="width: 4vw; height: 8vh;" 
                                        value="<%= cartItem.productQuantity %>">
                                    <form action="/user/changeQuantity/<%= cartItem.productId._id %>/<%= cartItem.productQuantity+1 %>" method="POST">
                                    <button class="btn">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    </form>
                                </div>
                            </td>
                            <% let itemTotal = offerPrice * cartItem.productQuantity %>
                            <% subTotal = subTotal + itemTotal %>
                            <td class="align-middle"><input type="text" id="itemTotal" name="itemTotal"
                                class="form-control bg-secondary text-center w-100 bg-transparent" style="width: 4vw; height: 8vh;" 
                                value="<%= itemTotal %>"></td>
                            <td class="align-middle"><a href="/user/removeCartItem/<%= cartItem.productId._id %>" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="/user/applyOffer" method="POST">
                    <div class="input-group">
                        <input type="text" name="couponCode" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium"><%= subTotal %></h6>
                        </div>
                        <% let discount; %>
                        <% if(couponOffer) { %>
                        <% discount = Math.round(couponOffer*subTotal/100); %>
                        <% } else { %>
                        <% discount = 0; %>
                        <% } %>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Discount</h6>
                            <h6 class="font-weight-medium"><%= discount %></h6>
                        </div>
                    </div>
                    <% let total; %>
                    <% if(discount) { %>
                    <% total = subTotal - discount; %>
                    <% } else { %>
                    <% total = subTotal; %>
                    <% } %>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">₹<%= total %></h5>
                        </div>
                        <form action="/user/checkout/<%= subTotal %>/<%= total %>/<%= discount %>" method="POST">
                            <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                        </form>                        
                        <a href="/user?page=1" class="btn btn-block btn-primary my-3 py-3">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
    <%-include('partials/bottombarUser.ejs')%>
    <%-include('partials/footer.ejs')%>

