<%-include('partials/header.ejs')%>
    <%-include('partials/topbarUser.ejs')%>

        <!-- Page Header Start -->
        <div class="container-fluid bg-secondary mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
                <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
                <div class="d-inline-flex">
                    <p class="m-0"><a href="/user?page=1">Home</a></p>
                    <p class="m-0 px-2">-</p>
                    <p class="m-0">Checkout</p>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <div class="container"> 
            <div class="row">
                <div class="col-md">
                    <button class="btn-primary p-1 rounded-3" data-bs-toggle="modal" data-bs-target="#addressModal" data-bs-target="#staticBackdrop" href="">Add another Address</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addressModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content custom-modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">ADD NEW ADDRESS</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                        <h5 class="font-weight-semi-bold mb-4 text-center">Billing Address</h5>
                                        <form action="/user/addAddressCheckout" method="POST" >
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                 <label>Alternate Mobile No</label>
                                                <input class="form-control" name="alternateMobileNo" type="tel" pattern="[0-9]{10}"
                                                title="Enter a valid mobile number">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Address Line 1</label>
                                                <input class="form-control" name="userAddressLine1" type="text">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Address Line 2</label>
                                                <input class="form-control" name="userAddressLine2" type="text">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Country</label>
                                                <select class="custom-select" name="userCountry">
                                                    <option selected>India</option>
                                                    <option>United States</option>
                                                    <option>China</option>
                                                    <option>Sreelanka</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>City</label>
                                                <input class="form-control" name="userCity" type="text">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>State</label>
                                                <input class="form-control" name="userState" type="text">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>ZIP Code</label>
                                                <input class="form-control" name="userZIP" type="tel" pattern="[0-9]{6}"
                                                title="Enter valid PIN code">
                                            </div>
                                        </div>
                                    </div>
                                <br>
                                <br>
                                <div class="col-md-12" id="shipping-address">
                                    <br>
                                    <br>
                                    <h5 class="font-weight-semi-bold mb-4 text-center">Shipping Address</h5>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>Name</label>
                                            <input class="form-control" name="userName2" type="text">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>E-mail</label>
                                            <input class="form-control" name="userEmail2" type="email" aria-describedby="emailHelp">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Mobile No</label>
                                            <input class="form-control" name="alternateMobileNo2" type="tel" pattern="[0-9]{10}"
                                            title="Enter a valid mobile number">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Address Line 1</label>
                                            <input class="form-control" name="userAddressLine12" type="text">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Address Line 2</label>
                                            <input class="form-control" name="userAddressLine22" type="text">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Country</label>
                                            <select class="custom-select" name="userCountry2">
                                                <option selected>India</option>
                                                <option>United States</option>
                                                <option>China</option>
                                                <option>Sreelanka</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>City</label>
                                            <input class="form-control" name="userCity2" type="text">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>State</label>
                                            <input class="form-control" name="userState2" type="text">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>ZIP Code</label>
                                            <input class="form-control" name="userZIP2" type="tel" pattern="[0-9]{6}"
                                            title="Enter valid PIN code">
                                        </div>  
                                    </div>
                                    <div class="form-group mb-0 text-center">
                                        <button type="submit" class="btn btn-primary px-3" id="addressSubmit">Add Address</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>                     


<!-- Checkout Start -->
<form id="paymentForm" action="/user/placeOrder/<%= subTotal %>/<%= total %>/<%= discount %>" method="post">
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-6">
                <div class="mb-4 border rounded-3">
                    <div class="card-header bg-secondary border-0 mb-5 rounded-3">
                        <h4 class="font-weight-semi-bold m-0">Billing Address</h4>
                    </div>
                    <div class="card-body">
                        <% billingAddress.forEach(address=> { %>
                        <div class="form-group scrollable">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="billingAddress" id="bill_<%= address.billingAddressId %>" value="<%= address._id %>" checked>
                                <label class="custom-control-label" for="bill_<%= address.billingAddressId %>">
                                    <h5>
                                        <%= address.customerId.email %> <br>
                                        <%= address.alternateMobileNo %> <br>
                                        <%= address.customerId.fullname %>, <br>
                                        <%= address.userAddressLine1 %>, <br>
                                        <%= address.userAddressLine2 %>, <br>
                                        <%= address.userCity %>, <%= address.userState %>,
                                        <%= address.userCountry %> - <%= address.userZIP %>
                                    </h5>
                                </label>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <br>
                <div class="mb-4 border rounded-3">
                    <div class="card-header bg-secondary border-0 mb-5 rounded-3">
                        <h4 class="font-weight-semi-bold m-0">Shipping Address</h4>
                        <a class="text-decoration-none" href="">Add another Address</a>
                    </div>
                    <div class="card-body">
                        <% shippingAddress.forEach(address=> { %>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="shippingAddress" id="ship_<%= address.shippingAddressId %>" value="<%= address._id %>" checked>
                                <label class="custom-control-label" for="ship_<%= address.shippingAddressId %>">
                                    <h5>
                                        <%= address.altEmail %> <br>
                                        <%= address.altMobileNo %> <br>
                                        <%= address.altName %>, <br>
                                        <%= address.altAddressLine1 %>, <br>
                                        <%= address.altAddressLine2 %>, <br>
                                        <%= address.altCity %>, <%= address.altState %>,
                                        <%= address.altCountry %> - <%= address.altZIP %>
                                    </h5>
                                </label>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-secondary mb-5 ">
                    <div class="card-header bg-secondary border-0 rounded-3">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <% let offer;%>
                        <% cartItems.forEach(cartItem=> { %>
                            <% if(cartItem.customerId.offerApplied === true){ %>
                            <% offer = 0; %>
                            <% } if(cartItem.productId.offerStatus === "Active" && cartItem.productId.offerValue){ %>
                            <% offer = cartItem.productId.offerValue; %>
                            <% } else if(cartItem.categoryId.offerStatus === "Active" && cartItem.categoryId.offerValue) { %>
                            <% offer = cartItem.categoryId.offerValue; %>
                            <% } else { %>
                            <% offer = 0; %>
                            <% } %>
                            <% let offerPrice = cartItem.productId.productPrice - (( cartItem.productId.productPrice * offer ) / 100 );  %>
                            
                            <div class="d-flex justify-content-between">
                                <p>
                                    <%= cartItem.productId.productName %>(<%= cartItem.productQuantity %>)
                                </p>
                                <% if(cartItem.customerId.offerApplied === true){ %>
                                <% offerPrice = cartItem.productId.productPrice; %>
                                <% } %>
                                <p>₹<%= offerPrice * cartItem.productQuantity %>
                                </p>
                            </div>
                            <% }); %>

                                <hr class="mt-0">
                                <div class="d-flex justify-content-between mb-3 pt-1">
                                    <h6 class="font-weight-medium">Subtotal</h6>
                                    <h6 class="font-weight-medium">₹<%= subTotal %>
                                    </h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-medium">Discount</h6>
                                    <h6 class="font-weight-medium">₹<%= discount %></h6>
                                </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold" name="amount">₹<%= total %>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0 rounded-3">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="paymentMethod" id="cod"
                                    value="COD">
                                <label class="custom-control-label" for="cod">Cash-On-Delivery</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="paymentMethod" id="online"
                                    value="Online" checked>
                                <label class="custom-control-label" for="online">Online Payment (RazorPay)</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place
                            Order</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<!-- Checkout End -->



        <%-include('partials/bottombarUser.ejs')%>
            <%-include('partials/footer.ejs')%>
            <script>
                document.getElementById('addressSubmit').addEventListener('click', function() {
                  setTimeout(function() {
                    window.location.reload();
                  }, 2000); 
                });
              </script>
                <script>
                    let orderId;
                    $(document).ready(function () {
                        let settings = {
                            "url": "/payment/createOrder/orderId",
                            "method": "POST",
                            "timeout": 0,
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "data": JSON.stringify({
                                "amount": "<%= total %>"
                            }),
                        };

                        $.ajax(settings).done(function (response) {

                            orderId = response.data.id;
                            $("button").show();
                        });
                    });
                </script>