<%-include('partials/header.ejs')%>
    <%-include('partials/topbarUser.ejs')%>
        <div id="content">
            <!-- Navbar Start -->
            <div class="container-fluid mb-5">
                <div class="row border-top px-xl-5">
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="filter-panel">
                            <!-- Filter Categories -->
                            <form action="/user/filterProducts" method="POST">
                                <div class="container-fluid">
                                    <div class="row m-0 btn shadow-none d-flex align-items-center justify-content-center bg-primary text-white w-100"
                                        style="height: 65px; margin-top: -1px; padding: 0 30px;">
                                        <div class="col-md">
                                            <h5 class="m-0">Filter Products</h5>
                                            <button class="bg-dark text-white ml-2 rounded-3 p-1 btn-outline-primary"
                                                type="submit">Apply</button>
                                            <a href="/user/clearFilter"
                                                class="bg-dark text-white ml-2 rounded-3 p-1 btn-outline-primary"
                                                type="submit" style="text-decoration: none;">Clear</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter-category">
                                    <h6 class="ml-3">Category</h6>
                                    <ul id="filterSmart">
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="Accessories">
                                                Accessories
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="Spare Parts">
                                                Spare Parts
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="SW Tools & Dongles">
                                                Software Tools
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="SW Tools & Dongles">
                                                Software Dongles
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="HW Tools & Equipments">
                                                Hardware Tools
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="HW Tools & Equipments">
                                                Hardware Equipments
                                            </label>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Price Range -->
                                <div class="filter-category">
                                    <h6 class="ml-3">Price Range</h6>
                                    <div class="container-fluid">
                                        <div class="row">

                                            <div class="col-md-6 input-group">
                                                <select class="form-select" id="inputGroupSelect02" name="minPriceRange">
                                                    <option value="0" selected>Min</option>
                                                        <option value="250"> ₹250 </option>
                                                        <option value="500"> ₹500 </option>
                                                        <option value="1000"> ₹1000 </option>
                                                        <option value="2000"> ₹2000 </option>
                                                        <option value="5000"> ₹5000 </option>
                                                        <option value="10000"> ₹10000 </option>       
                                                </select>
                                            </div>
                                            <div class="col-md-6 input-group">
                                                <select class="form-select" id="inputGroupSelect02" name="maxPriceRange">
                                                    <option value="10000" selected>Max</option>
                                                        <option value="250"> ₹250 </option>
                                                        <option value="500"> ₹500 </option>
                                                        <option value="1000"> ₹1000 </option>
                                                        <option value="2000"> ₹2000 </option>
                                                        <option value="5000"> ₹5000 </option>
                                                        <option value="10000"> ₹10000 </option>       
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="col-lg-9">
                        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                            <a href="" class="text-decoration-none d-block d-lg-none">
                                <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                        class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                            </a>
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav mr-auto py-0">
                                    <a href="/user" class="nav-item nav-link active">Home</a>
                                    <a href="/user/orders" class="nav-item nav-link">Orders</a>
                                    <a href="/user/account" class="nav-item nav-link">
                                        <%= users.fullname %>
                                    </a>
                                </div>
                                <div class="navbar-nav ml-auto py-0">
                                    <% if(!user) { %>
                                        <a href="/userLogin" class="nav-item nav-link">Login</a>
                                        <a href="/userSignup" class="nav-item nav-link">Register</a>
                                        <% } else { %>
                                            <a href="/user/logout" class="nav-item nav-link">Logout</a>
                                            <% } %>
                                </div>
                            </div>
                        </nav>
                        <div id="header-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" style="height: 410px;">
                                    <img class="img-fluid" src="/images/brocken.png" alt="Image">
                                    <div
                                        class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                        <div class="p-3" style="max-width: 700px;">
                                            <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your
                                                First
                                                Bookings</h4>
                                            <h3 class="display-4 text-white font-weight-semi-bold mb-4">Best Choice for
                                                Smartphone Engineering</h3>
                                            <a href="" class="btn btn-light py-2 px-3">LEARN SMART</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" style="height: 410px;">
                                    <img class="img-fluid" src="/images/signupImage.png" alt="Image">
                                    <div
                                        class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                        <div class="p-3" style="max-width: 700px;">
                                            <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your
                                                First
                                                Bookings</h4>
                                            <h3 class="display-4 text-white font-weight-semi-bold mb-4">Best Choice for
                                                Smartphone Engineering</h3>
                                            <a href="" class="btn btn-light py-2 px-3">LEARN SMART</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                    <span class="carousel-control-prev-icon mb-n2"></span>
                                </div>
                            </a>
                            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                    <span class="carousel-control-next-icon mb-n2"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navbar End -->


            <!-- Featured Start -->
            <div class="container-fluid pt-5">
                <div class="row px-xl-5 pb-3">
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                            <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                            <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                            <h5 class="font-weight-semi-bold m-0">14 Days Return</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                            <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured End -->

            <!-- Products Start -->
            <div class="container">
                <div class="row">
                    <% products.forEach(product=> { %>
                        <% if(!product.blocked) { %>
                            <div class="col-md-3">
                                <div class="card mb-3" id="card">
                                    <a href="/user/productDetails/<%= product._id %>">
                                        <img src="/productImages/<%= product.productImageNames[0] %>"
                                            class="card-img-top" id="productImageLarge" alt="Product Image"></a>
                                    <div class="card-body">
                                        <div class="container border p-1 rounded-3">
                                            <div class="row text-center">
                                                <div class="col-md-4">
                                                    <form action="/user/cart/<%= product._id %>" method="POST">
                                                        <input type="text" name="quantity"
                                                            class="form-control bg-secondary text-center" value="1"
                                                            hidden>
                                                        <button class="btn btn-primary rounded-3"><img width="20vh"
                                                                src="/images/cart.png" alt=""></button>
                                                    </form>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="/user/productDetails?productId=<%= product._id %>&categoryId=<%= product.productCategory._id %>"
                                                        class="btn btn-primary rounded-3">
                                                        <img width="20vh" src="/images/view.png" alt=""></a>
                                                </div>
                                                <div class="col-md-4">
                                                    <form action="/user/wishlist/<%= product._id %>" method="POST">
                                                        <button class="btn btn-primary rounded-3"><img width="20vh"
                                                                src="/images/wishlist.png" alt=""></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <h5 class="card-title text-center">
                                            <%= product.productName %>
                                        </h5>
                                        <p class="card-text">Category: <%= product.productCategory ? product.productCategory.productCategory : 'N/A' %>
                                        </p>
                                        <p class="card-text">Brand: <%= product.productBrand %>
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="card-text">Price: <%= product.productPrice %></p>
                                            </div>
                                            <div class="col-md-5 border bg-secondary text-center">
                                            <strong>
                                                    <% if(product.offerStatus === "Active") { %>
                                                    <%= product.offerValue + "% OFF" %>
                                                    <% } else if(product.productCategory.offerStatus === "Active") { %>
                                                    <%= product.productCategory.offerValue + "% OFF" %>
                                                    <% } else { %>
                                                    <%= "No Offer" %>
                                                    <% } %>
                                            </strong>
                                            </div>
                                        </div>     
                                        <!-- Add other product details as needed -->

                                    </div>
                                </div>
                            </div>
                        <% }}); %>
                </div>
            </div>

            <!-- Products End -->

            <!-- Categories Start -->
            <div class="container-fluid pt-5">
                <div class="row px-xl-5 pb-3">
                    <% categories.forEach(category=> { %>
                        <div class="col-lg-3 col-md-6 pb-1">
                            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                                    <img class="img-fluid" src="/images/accessories.png" alt="">
                                </a>
                                <h5 class="font-weight-semi-bold m-0">
                                    <%= category.productCategory %>
                                </h5>
                            </div>
                        </div>
                        <% }); %>

                </div>
            </div>
            <!-- Categories End -->


            <!-- Offer Start -->
            <div class="container-fluid offer pt-5">
                <div class="row px-xl-5">
                    <div class="col-md-6 pb-4">
                        <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                            <img src="img/offer-1.png" alt="">
                            <div class="position-relative" style="z-index: 1;">
                                <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                                <h1 class="mb-4 font-weight-semi-bold">Spring Collection</h1>
                                <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                            <img src="img/offer-2.png" alt="">
                            <div class="position-relative" style="z-index: 1;">
                                <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                                <h1 class="mb-4 font-weight-semi-bold">Winter Collection</h1>
                                <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Offer End -->

            <!-- Products Start -->
            <div class="container">
                <div class="row">
                    <% products.forEach(product=> { %>
                        <% if(!product.blocked) { %>
                            <div class="col-md-3">
                                <div class="card mb-3" id="card">
                                    <a href="/user/productDetails/<%= product._id %>">
                                        <img src="/productImages/<%= product.productImageNames[0] %>"
                                            class="card-img-top" id="productImageLarge" alt="Product Image"></a>
                                    <div class="card-body">
                                        <div class="container border p-1 rounded-3">
                                            <div class="row text-center">
                                                <div class="col-md-4">
                                                    <form action="/user/cart/<%= product._id %>" method="POST">
                                                        <input type="text" name="quantity"
                                                            class="form-control bg-secondary text-center" value="1"
                                                            hidden>
                                                        <button class="btn btn-primary rounded-3"><img width="20vh"
                                                                src="/images/cart.png" alt=""></button>
                                                    </form>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="/user/productDetails?productId=<%= product._id %>&categoryId=<%= product.productCategory._id %>"
                                                        class="btn btn-primary rounded-3">
                                                        <img width="20vh" src="/images/view.png" alt=""></a>
                                                </div>
                                                <div class="col-md-4">
                                                    <form action="/user/wishlist/<%= product._id %>" method="POST">
                                                        <button class="btn btn-primary rounded-3"><img width="20vh"
                                                                src="/images/wishlist.png" alt=""></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <h5 class="card-title text-center">
                                            <%= product.productName %>
                                        </h5>
                                        <p class="card-text">Category: <%= product.productCategory ? product.productCategory.productCategory : 'N/A' %>
                                        </p>
                                        <p class="card-text">Brand: <%= product.productBrand %>
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="card-text">Price: <%= product.productPrice %></p>
                                            </div>
                                            <div class="col-md-5 border bg-secondary text-center">
                                            <strong>
                                                <% if(product.offerStatus === "Active") { %>
                                                <%= product.offerValue + "% OFF" %>
                                                <% } else if(product.productCategory.offerStatus === "Active") { %>
                                                <%= product.productCategory.offerValue + "% OFF" %>
                                                <% } else { %>
                                                <%= "No Offer" %>
                                                <% } %>
                                            </strong>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                            </div>
                        <% }}); %>
                </div>
            </div>

            <!-- Products End -->

        <div id="pagination" class="text-center">
            <h5>Page No : <% for (let i=1; i <=totalPages; i++) { %>
                    <a href="/user?page=<%= i %>" class="pagination-link <%= i === currentPage ? 'active' : '' %>">
                        <%= i %>
                    </a>
                    <% } %> 
            </h5>
        </div>
        
        <%-include('partials/bottombarUser.ejs')%>
            <%-include('partials/footer.ejs')%>