<%-include('partials/header.ejs')%>
    <%-include('partials/topbarUser.ejs')%>
        <div id="content">
            <!-- Navbar Start -->
            <div class="container-fluid mb-5">
                <div class="row border-top px-xl-5">
                    <div class="col-lg-3 col-md-6 col-sm-12 d-none d-lg-block">
                        <div class="filter-panel">
                            <!-- Filter Categories -->
                            <form action="/filterProducts" method="GET">
                                <div class="container-fluid">
                                    <div class="row m-0 btn shadow-none d-flex align-items-center justify-content-center bg-primary text-white w-100"
                                        style="height: 65px; margin-top: -1px; padding: 0 30px;">
                                        <div class="col-lg">
                                            <h4 class="m-0">Filter Products</h4>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="filter-category">
                                    <h6 class="ml-3">Category</h6>
                                    <ul id="filterSmart">
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="Smartphones" <% if (selectedCategories.includes('Smartphones')) { %>checked<% } %>>
                                                Smartphones
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="Smartphone Repair Tools (Hardware)" <% if (selectedCategories.includes('Smartphone Repair Tools (Hardware)')) { %>checked<% } %>>
                                                Repair Tools (HW)
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="Smartphone Repair Tools (Software)" <% if (selectedCategories.includes('Smartphone Repair Tools (Software)')) { %>checked<% } %>>
                                                Repair Tools (SW)
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="Smartphone Accessories" <% if (selectedCategories.includes('Smartphone Accessories')) { %>checked<% } %>>
                                                Smart Accessories
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="Laptop Repair Tools" <% if (selectedCategories.includes('Laptop Repair Tools')) { %>checked<% } %>>
                                                Laptop Repair Tools
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" name="category" value="Smartphone Repair Tools (Hardware)" <% if (selectedCategories.includes('Smartphone Repair Tools (Hardware)')) { %>checked<% } %>>
                                                Smart Repair Tools
                                            </label>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Price Range -->
                                <div class="filter-category">
                                    <h6 class="ml-3">Price Range</h6>
                                    <div class="container-fluid">
                                        <div class="row">

                                            <div class="col-lg-6 input-group">
                                                <select class="form-select" id="inputGroupSelect02" name="minPriceRange">
                                                    <option value="0" selected>Min</option>
                                                        <option value="250"> ₹250 </option>
                                                        <option value="500"> ₹500 </option>
                                                        <option value="1000"> ₹1000 </option>
                                                        <option value="2000"> ₹2000 </option>
                                                        <option value="5000"> ₹5000 </option>
                                                        <option value="10000"> ₹10000 </option>       
                                                </select>
                                            </div>
                                            <div class="col-lg-6 input-group">
                                                <select class="form-select" id="inputGroupSelect02" name="maxPriceRange">
                                                    <option value="10000" selected>Max</option>
                                                        <option value="250"> ₹250 </option>
                                                        <option value="500"> ₹500 </option>
                                                        <option value="1000"> ₹1000 </option>
                                                        <option value="2000"> ₹2000 </option>
                                                        <option value="5000"> ₹5000 </option>
                                                        <option value="10000"> ₹10000 </option>       
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="container-fluid">
                                    <div class="row m-0 btn shadow-none d-flex align-items-center justify-content-center bg-primary text-white w-100"
                                        style="height: 65px; margin-top: -1px; padding: 0 30px;">
                                        <div class="col-lg">
                                            <button class="bg-dark text-white ml-2 rounded-3 p-1 btn-outline-primary"
                                                type="submit">Apply</button>
                                            <a href="/clearFilter?page=1"
                                                class="bg-dark text-white ml-2 rounded-3 p-1 btn-outline-primary"
                                                type="submit" style="text-decoration: none;">Clear</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                            <a href="" class="text-decoration-none d-block d-lg-none">
                                <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                        class="text-primary font-weight-bold border px-3 mr-1">SMART</span>DEPOT</h1>
                            </a>
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav mr-auto py-0">
                                    <a href="/?page=1" class="nav-item nav-link active">Home</a>
                                    <a href="/orders" class="nav-item nav-link">Orders</a>
                                    <a href="/account" class="nav-item nav-link">
                                        <%= users.fullname %>
                                    </a>
                                </div>
                                <div class="navbar-nav ml-auto py-0">
                                    <% if(!user) { %>
                                        <a href="/userLogin" class="nav-item nav-link">Login</a>
                                        <a href="/userSignup" class="nav-item nav-link">Register</a>
                                        <% } else { %>
                                            <a href="/logout" class="nav-item nav-link">Logout</a>
                                            <% } %>
                                </div>
                            </div>
                        </nav>
                        <div id="header-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" style="height: 410px;">
                                    <img class="img-fluid" src="/images/brocken.png" alt="Image">
                                    <div
                                        class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                        <div class="p-3" style="max-width: 700px;">
                                            <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your
                                                First
                                                Bookings</h4>
                                            <h3 class="display-4 text-white font-weight-semi-bold mb-4">Best Choice for
                                                Smartphone Engineering</h3>
                                            <a href="" class="btn btn-light py-2 px-3">LEARN SMART</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" style="height: 410px;">
                                    <img class="img-fluid" src="/images/signupImage.png" alt="Image">
                                    <div
                                        class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                        <div class="p-3" style="max-width: 700px;">
                                            <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your
                                                First
                                                Bookings</h4>
                                            <h3 class="display-4 text-white font-weight-semi-bold mb-4">Best Choice for
                                                Smartphone Engineering</h3>
                                            <a href="" class="btn btn-light py-2 px-3">LEARN SMART</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                    <span class="carousel-control-prev-icon mb-n2"></span>
                                </div>
                            </a>
                            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                    <span class="carousel-control-next-icon mb-n2"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navbar End -->


            <!-- Featured Start -->
            <div class="container-fluid pt-5">
                <div class="row px-xl-5 pb-3">
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                            <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                            <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                            <h5 class="font-weight-semi-bold m-0">14 Days Return</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                            <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                            <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured End -->

            <!-- Products Start -->
            <div class="container-fluid">
                <div class="row">
                    <% products.forEach(product=> { %>
                        <% if(!product.blocked) { %>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card mb-3" id="card">
                                    <div class="div" id="out-of-stock">
                                        <a href="/productDetails?productId=<%= product._id %>&categoryId=<%= product.productCategory._id %>">
                                          <div class="image-container py-2">
                                            <img src="/productImages/<%= product.productImageNames[0] %>" class="cardImgTop" id="productImageLarge" alt="Product Image">
                                            <% if(product.productStock === 0) { %>
                                              <strong class="text-danger text-center out-of-stock w-100">Sold Out</strong>
                                            <% } %>
                                          </div>
                                        </a>
                                      </div>                                                                        
                                    <div class="card-body">
                                        <div class="container-fluid border p-1 rounded-3">
                                            <div class="row text-center">
                                                <div class="col-lg-4">
                                                    <form action="/cart/<%= product._id %>" method="POST">
                                                        <input type="text" name="quantity"
                                                            class="form-control bg-secondary text-center" value="1"
                                                            hidden>
                                                        <button class="btn btn-primary rounded-3"><img width="20vh"
                                                                src="/images/cart.png" alt=""></button>
                                                    </form>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="/productDetails?productId=<%= product._id %>&categoryId=<%= product.productCategory._id %>"
                                                        class="btn btn-primary rounded-3">
                                                        <img width="20vh" src="/images/view.png" alt=""></a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <form action="/wishList/<%= product._id %>" method="POST">
                                                        <button class="btn btn-primary rounded-3"><img width="20vh"
                                                                src="/images/wishlist.png" alt=""></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <h5 class="card-title text-center">
                                            <%= product.productName %>
                                        </h5>
                                        <!-- <p class="card-text">Category: <%= product.productCategory ? product.productCategory.productCategory : 'N/A' %>
                                        </p> -->
                                        <p class="card-text">Brand: <%= product.productBrand %>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="card-text">Price: <%= product.productPrice %></p>
                                            </div>
                                            <div class="col-lg-5 border bg-secondary text-center">
                                            <strong>
                                                    <% if(product.offerStatus === "Active") { %>
                                                    <%= product.offerValue + "% OFF" %>
                                                    <% } else if(product.productCategory.offerStatus === "Active") { %>
                                                    <%= product.productCategory.offerValue + "% OFF" %>
                                                    <% } else { %>
                                                    <%= "No Offer" %>
                                                    <% } %>
                                            </strong>
                                            </div>
                                        </div>     

                                    </div>
                                </div>
                            </div>
                        <% }}); %>
                </div>
            </div>

            <!-- Products End -->
            
            <!-- Offer Start -->

            <div class="container-fluid offer pt-5">
                <div class="row px-xl-5">
                    <div class="col-lg-6 pb-4">
                        <div class="position-relative bg-secondary text-center text-lg-right text-white mb-2 py-5 px-5">
                            <div class="position-relative" style="z-index: 1;">
                                <h5 class="text-uppercase text-primary mb-3">Start with an OFF </h5>
                                <h1 class="mb-4 font-weight-semi-bold">BIG BILLION DAYS</h1> 
                                <h5 class="text-uppercase text-primary mb-3">Avail offers from your CART</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pb-4">
                        <div class="position-relative bg-secondary text-center text-lg-left text-white mb-2 py-5 px-5">
                            <div class="position-relative" style="z-index: 1;">
                                <div class="position-relative" style="z-index: 1;">
                                    <h5 class="text-uppercase text-primary mb-3">Start with an OFF </h5>
                                    <h1 class="mb-4 font-weight-semi-bold">BIG BILLION DAYS</h1> 
                                    <h5 class="text-uppercase text-primary mb-3">Avail offers from your CART</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Offer End -->

            <!-- Products Start -->
            <div class="container-fluid">
                <div class="row">
                    <% products.forEach(product=> { %>
                        <% if(!product.blocked) { %>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card mb-3" id="card">
                                    <div class="div" id="out-of-stock">
                                        <a href="/productDetails?productId=<%= product._id %>&categoryId=<%= product.productCategory._id %>">
                                          <div class="image-container py-2">
                                            <img src="/productImages/<%= product.productImageNames[0] %>" class="cardImgTop" id="productImageLarge" alt="Product Image">
                                            <% if(product.productStock === 0) { %>
                                              <strong class="text-danger text-center out-of-stock w-100">Sold Out</strong>
                                            <% } %>
                                          </div>
                                        </a>
                                      </div>                                                                        
                                    <div class="card-body">
                                        <div class="container-fluid border p-1 rounded-3">
                                            <div class="row text-center">
                                                <div class="col-lg-4">
                                                    <form action="/cart/<%= product._id %>" method="POST">
                                                        <input type="text" name="quantity"
                                                            class="form-control bg-secondary text-center" value="1"
                                                            hidden>
                                                        <button class="btn btn-primary rounded-3"><img width="20vh"
                                                                src="/images/cart.png" alt=""></button>
                                                    </form>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="/productDetails?productId=<%= product._id %>&categoryId=<%= product.productCategory._id %>"
                                                        class="btn btn-primary rounded-3">
                                                        <img width="20vh" src="/images/view.png" alt=""></a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <form action="/wishList/<%= product._id %>" method="POST">
                                                        <button class="btn btn-primary rounded-3"><img width="20vh"
                                                                src="/images/wishlist.png" alt=""></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <h5 class="card-title text-center">
                                            <%= product.productName %>
                                        </h5>
                                        <!-- <p class="card-text">Category: <%= product.productCategory ? product.productCategory.productCategory : 'N/A' %>
                                        </p> -->
                                        <p class="card-text">Brand: <%= product.productBrand %>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="card-text">Price: <%= product.productPrice %></p>
                                            </div>
                                            <div class="col-lg-5 border bg-secondary text-center">
                                            <strong>
                                                    <% if(product.offerStatus === "Active") { %>
                                                    <%= product.offerValue + "% OFF" %>
                                                    <% } else if(product.productCategory.offerStatus === "Active") { %>
                                                    <%= product.productCategory.offerValue + "% OFF" %>
                                                    <% } else { %>
                                                    <%= "No Offer" %>
                                                    <% } %>
                                            </strong>
                                            </div>
                                        </div>     

                                    </div>
                                </div>
                            </div>
                        <% }}); %>
                </div>
            </div>

            <!-- Products End -->

            <div id="pagination" class="text-center">
                <% if (pageRoute === '/') { %>
                    <h5>Page No :</h5>
                    <% for (let i=1; i <= totalPages; i++) { %>
                        <a href="/?page=<%= i %>" class="pagination-link <%= i === currentPage ? 'active' : '' %>">
                            <%= i %>
                        </a>
                    <% } %>
                <% } else if (pageRoute === '/filterProducts') { %>
                    <h5>Page No :</h5>
                    <% for (let i=1; i <= totalPages; i++) { %>
                        <a href="/filterProducts?page=<%= i %>&categoryNames=<%= selectedCategories %>&minPriceRange=<%= selectedMinPriceRange %>&maxPriceRange=<%= selectedMaxPriceRange %>" class="pagination-link <%= i === currentPage ? 'active' : '' %>">
                            <%= i %>
                        </a>
                    <% } %> 
                <% } else if (pageRoute === '/search') { %>
                    <h5>Page No :</h5>
                    <% for (let i=1; i <= totalPages; i++) { %>
                        <a href="/search">
                            <%= i %>
                        </a>
                    <% } %> 
                <% } else if (pageRoute === '/clearFilter') { %>
                    <h5>Page No :</h5>
                    <% for (let i=1; i <= totalPages; i++) { %>
                        <a href="/clearFilter">
                            <%= i %>
                        </a>
                    <% } %> 
                <% } %>
            </div>
            
        
        <%-include('partials/bottombarUser.ejs')%>
            <%-include('partials/footer.ejs')%>
            <script>
                let selectedMinPriceRange = "<%= selectedMinPriceRange %>";
                let selectedMaxPriceRange = "<%= selectedMaxPriceRange %>";
              
                document.querySelector('select[name="minPriceRange"]').value = selectedMinPriceRange;
                document.querySelector('select[name="maxPriceRange"]').value = selectedMaxPriceRange;
            </script>
              