<%-include('partials/header.ejs')%>
    <%-include('partials/topbarUser.ejs')%>
        <!-- Page Header Start -->
        <div class="container-fluid bg-secondary mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
                <h1 class="font-weight-semi-bold text-uppercase mb-3">Order Details</h1>
                <div class="d-inline-flex">
                    <p class="m-0"><a href="/user">Home</a></p>
                    <p class="m-0 px-2">-</p>
                    <p class="m-0">Order Details</p>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        <div class="container-fluid pt-5">
            <div class="row px-xl-5">
                <div class="col-md-6 pb-4">
                    <div class="position-relative bg-secondary text-white mb-2 py-5 px-5">
                        <h5>Order Information</h5>
                        <p class="text-uppercase text-primary mb-3">Order ID : <%= order._id %>
                        </p>
                        <p class="text-dark">Date : <%= order.orderDate %>
                        </p>
                        <p class="text-dark">Payment Method : <%= order.paymentMethod %><br>
                            Paymeny Status : <%= order.paymentStatus %>
                        </p>
                        <p class="text-dark">Status : <%= order.orderStatus %>
                        </p>
                        <p class="text-dark">
                        </p>
                    </div>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="position-relative bg-secondary text-white mb-2 py-5 px-5">
                        <h5>Shipping Details</h5>
                        <p class="text-uppercase text-primary mb-3">Name : <%= order.shippingAddress.altName%></p>
                    <p class=" text-dark">Address : <%= order.shippingAddress.altAddressLine1
                                    +", "+ order.shippingAddress.altAddressLine2 +" , "+ order.shippingAddress.altState +" , "+
                                    order.shippingAddress.altCountry +"-"+ order.shippingAddress.altZIP %></p>
                    <p class=" text-dark">Mobile : <%= order.shippingAddress.altMobileNo %>
                        </p>
                    <p class=" text-dark">Email : <%= order.shippingAddress.altEmail %>
                    </p>
                    </div>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col-md pb-4">
                    <div class="position-relative bg-secondary text-center text-white mb-2 py-5 px-5">
                        <h5>Order Items</h5>
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let i=1 ; %>
                                    <% order.products.forEach(product=> { %>
                                        <tr>
                                            <td>
                                                <%= i %>
                                            </td>
                                            <td>
                                                <%= product.productId.productName %>
                                            </td>
                                            <td>
                                                <%= product.offerPrice || product.productId.productPrice %>(<%= product.productId.productPrice %>)
                                            </td>
                                            <td>
                                                <%= product.productQuantity %>
                                            </td>
                                            <% let subTotal= (product.offerPrice || product.productId.productPrice) * product.productQuantity ; %>
                                                <td>
                                                    <%= subTotal %>
                                                </td>
                                        </tr>
                                        <% i++; }); %>
                                        <tr class="font-weight-bold">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><h5>Total</h5></td>
                                            <td>
                                                ₹<%= order.total %>/-
                                            </td>
                                        </tr>
                            </tbody>
                        </table>
                        <div class="col-md">
                            <a href="/user/downloadInvoice/<%= order._id %>"
                                class="btn btn-outline-primary py-md-2 px-md-3">
                                Download Invoice<img width="20vh" src="/images/pdfdownload.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%-include('partials/bottombarUser.ejs')%>
            <%-include('partials/footer.ejs')%>