
<%-include('partials/header.ejs')%>
<%- include('partials/topbarUser.ejs', { countWishlist: countWishlist }) %>


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">WishList</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/user">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">WishList</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->



<!-- Products Start -->
<div class="container">
    <div class="row">
      <% if (wishlist.length > 0) { %>
        <% wishlist.forEach(wish => { %>
        <div class="col-md-3">
          <div class="card mb-3">
            <a href="/user/productDetails/<%= wish._id %>">
                <img src="/productImages/<%= wish.product.productImageNames[0] %>" class="card-img-top" id="productImageLarge" alt="Product Image"></a>
            <div class="card-body">
              <h5 class="card-title text-center"><%=wish.product.productName %></h5>
              <p class="card-text">Brand: <%= wish.product.productBrand %></p>
              <p class="card-text">Price: <%= wish.product.productPrice %></p>
              <div class="container">
                <div class="row text-center">
                    <div class="col-md-4">
                        <form action="/user/cart/<%= wish.product._id %>" method="POST">
                        <input type="text" name="quantity"
                        class="form-control bg-secondary text-center" value="1" hidden>
                            <button class="btn btn-primary"><img width="20vh" src="/images/cart.png"
                                alt=""></button>
                        </form>
                    </div>
                    <div class="col-md-4">
                      <a href="/user/removeWishlistItem/<%= wish.product._id %>" class="btn btn-primary">X</i></a></td>
                    </div>
                    <div class="col-md-4">
                        <a href="/user/productDetails/<%= wish.product._id %>" class="btn btn-primary">
                          <img width="20vh" src="/images/view.png" alt=""></a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
    <% } else { %>
        <p>No items in the wishlist.</p>
    <% } %>
    </div>
  </div>
  
<!-- Products End -->

    <%-include('partials/bottombarUser.ejs')%>
    <%-include('partials/footer.ejs')%>

 